@charset "UTF-8";
/* CSS Document */

@import "simpel-grid-thisisdallas-kopi.css";


div{
	border: 1px solid red;
}

[class*='col-'] {
	padding-right: 10px;
	margin-bottom: 10px;
}

img, .medarbejderBillede{
	height: 180px;
	width: 160px;
}

/* Vi bliver nød til at ha 2 burger fordi en fejl */
.burger{
	height: 90px;
	width: 90px;
}

img, .brandStory{
	height: 300px;
}

.top{
	background-color: #3D6BB4;
	height: 90px;
}

.burger{
	display: none;
	float: right;	
}

@media screen and (max-width: 767px) {
	.burger{
		display: flex;
	}
}

.nulstil{
	padding: 0px;
	margin: 0px;
}

.logo{
}

.navigation{
	margin-top: 30px;
}

.brandStory{
	height: 300px;
	text-align: center;
}

.center{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hotbotIkon{
	height: 310px;
}

.hotbotTekst{
	height: 310px;
}

.produktIkon{
	height: 300px;
}

.produktTekst{
	height: 200px;
}

.omOs{
	height: 80px;
}

.medarbejderBillede{
}

.medarbejderNavn{
	height: 40px;
}

.kontaktFormular{
	height: 400px;
}

.kontaktBillede{
	height: 400px;
}

.footer{
	height: 40px;
}

.usynlig{
	border: red;
}


